.footer {
    background: #ffffff;
    text-align: center;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    color: black;
    left: 0;
    font-weight: 400;
    justify-content: flex-end;
}

